<div class="container">
  <form>
    <div class="row">
      <div class="eleven columns">
        <span class="settings__header">Settings</span>
      </div>
      <div class="one column">
        <a ui-sref="home">Back</a>
      </div>
      <div class="twelve columns">Clients</div>
      <div class="twelve columns settings__clients" ng-repeat="mac in clients">
        <div>
          <div class="settings__client" ng-bind="mac"></div>
        </div>
      </div>
      <div class="twelve columns" ng-bind="errorText"></div>
    </div>
  </form>
</div>