.content__header
  ul.content__header-items(ng-if="user")
    li.content__header-item
      img(src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}").content__header-image
      a(ui-sref="home.settings", ng-bind="user.email") RedbackThomson