.file-list
  .file-list__header
    .file-list__header-text Files
    label.file-list__upload.button(for='fileUpload') Upload File
    input#fileUpload.show-for-sr(type='file', onchange="angular.element(this).scope().upload()")

  .file-list__container
    .file-list__section(ng-repeat="fileSystem in fileSystems track by $index", 
      ng-init="fileSystemIndex = $index")
      ul.file-list__files
        li.file-list__file(ng-repeat="(key, file) in fileSystem track by $index",
          ng-if="key !== 'type'", 
          ng-class="isDirectory(file) ? 'file-list__file--folder' : ''",
          ng-click="clickFile(key, file, fileSystemIndex)") {{key}}

    .file-list__section(ng-if="selectedDirectory && isDirectory(selectedDirectory)")
      ul.file-list__files
        li.file-list__file.file-list__file--active Photograph 1.jpg
        li.file-list__file 2.jpg
        li.file-list__file 3.jpg
        li.file-list__file 4.jpg
        li.file-list__file 5.jpg
        li.file-list__file 6.jpg
        li.file-list__file 7.jpg
        li.file-list__file 8.jpg

script(src='../js/ui/fileList.js')