<!DOCTYPE html>
<html ng-app="DLock">
  <head>
    <title>D-Lock</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../dist/vendor/skeleton/css/skeleton.css" />
    <!-- endbower -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../dist/css/d-lock.css">
  </head>
  <body>
    <ui-view class="full-height"></ui-view>

    <!-- REQUIRED -->
    <script src="../jspm_packages/system.js"></script>
    <script src="../dist/js/getMacAddress.js"></script>
    <script src="../config.js"></script>
    <!-- bower:js -->
    <script src="../dist/vendor/angular/angular.js"></script>
    <script src="../dist/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../dist/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="../dist/vendor/angular-route/angular-route.js"></script>
    <script src="../dist/vendor/firebase/firebase.js"></script>
    <script src="../dist/vendor/angularfire/dist/angularfire.js"></script>
    <script src="../dist/vendor/socket.io-client/socket.io.js"></script>
    <script src="../dist/vendor/angular-socket-io/socket.min.js"></script>
    <!-- endbower -->
    <script src="../node_modules/delivery/lib/client/delivery.js"></script>
    <script src="../dist/js/delivery.js"></script>
    <script src="../dist/app/config.js"></script>

    <!-- DLock-Utilities -->
    <script src="../dist/app/components/firebase.svc.js"></script>

    <!-- DLock-Files -->
    <script src="../dist/app/components/files.svc.js"></script>
    <script src="../dist/app/components/filesocket.fct.js"></script>

    <!-- DLock-Authentication -->
    <script src="../dist/app/components/authentication.svc.js"></script>

    <!-- DLock-Home -->
    <script src="../dist/app/home/home.ctrl.js"></script>
    <script src="../dist/app/register/register.ctrl.js"></script>
    <script src="../dist/app/login/login.ctrl.js"></script>
    <script src="../dist/app/forgot/forgot.ctrl.js"></script>

    <!-- Dlock -->
    <script src="../dist/app/DLock.js"></script>
  </body>
</html>
