doctype html
html(ng-app='DLock')
  head
    title D-Lock
    link(rel='stylesheet', href='../vendor/foundation-sites/dist/foundation-flex.min.css')
    link(rel='stylesheet', href='../vendor/highlightjs/styles/default.css')
    
    link(rel='stylesheet', href='../css/d-lock.css')

  body
    .title-bar
      .title-bar__icons
        .title-bar__icon.title-bar__icon--minimize(onclick="electronMinimize()")
          i.material-icons remove
        .title-bar__icon.title-bar__icon--close(onclick="electronClose()")
          i.material-icons close
    .row.full-height.full-width
      div(ui-view="side-nav")
      .columns.content
        div(ui-view="content-header")
        ui-view

    // REQUIRED
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='../js/fileSystem.js')
    script(src='../js/getMacAddress.js')
    script(src='../js/electronControls.js')

    // Bower
    script(src='../vendor/angular/angular.js')
    script(src='../vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='../vendor/angular-mocks/angular-mocks.js')
    script(src='../vendor/angular-route/angular-route.js')
    script(src='../vendor/firebase/firebase.js')
    script(src='../vendor/angularfire/dist/angularfire.js')
    script(src='../vendor/socket.io-client/socket.io.js')
    script(src='../vendor/angular-socket-io/socket.min.js')
    script(src='../vendor/angular-md5/angular-md5.min.js')
    script(src='../vendor/cryptojslib/rollups/aes.js')
    script(src='../vendor/angular-cryptography/mdo-angular-cryptography.js')
    script(src='../vendor/angular-fileupload/angular-filereader.min.js')
    script(src='../app/config.js')

    // Dlock
    script(src='../js/build/dlock.js')