.splash
  .splash__content
    img.splash__logo(src="https://cdn.discordapp.com/attachments/231497949006266369/232176166587334656/full-01.png")
    h2.splash__status {{status}}
    h3.splash__version {{version}}