<div class="container">
  <form>
    <div class="row">
      <div class="five columns">
        <label for="Email">Email</label>
        <input class="u-full-width" type="email" placeholder="Email" id="Email" ng-model="loginCreds.email">
      </div>
      <div class="five columns">
        <label for="Username">Password</label>
        <input class="u-full-width" type="password" placeholder="Password" id="Password" ng-model="loginCreds.password">
      </div>
      <div class="two columns">
        <label for="exampleEmailInput">&nbsp;</label>
        <input class="button-primary" type="submit" value="Login" ng-click="login()">
      </div>
    </div>
  </form>
</div>