.login
  .login__header
    .login__header-text Login
  form.row.login__container
    .small-6.columns
      label Email
        input.login__input(type="email", placeholder="username@example.com", ng-model="loginCreds.email", ng-change="saveCreds()")
    .small-4.columns
      label Password
        input.login__input(type="password", placeholder="Password", ng-model="loginCreds.password")
    .small-2.columns
      label &nbsp;
        input.button.expanded.login__input.login__button.primary-gradient-button(type="button", value="Login", ng-click="login()")
  .row.login__errors(ng-if="error")
    .small-12.columns.login__error
      i.material-icons error
      | {{error}}