<div class="row full-height">
  <div class="three columns sidebar">
    <ul class="sidebar__menu">
      <a href="#" ng-if="loggedIn">
        <li class="sidebar__menu-item sidebar__menu-item--login">
          <img class="sidebar__menu-item--avatar" src="http://placehold.it/90x90">
          <div class="sidebar__menu-item--username" ng-bind="user.email"></div>
        </li>
      </a>
      <a href="#" ng-click="logIn()" ng-if="!loggedIn">
        <li class="sidebar__menu-item">Log In</li>
      </a>
      <a href="#" ng-click="logOut()" ng-if="loggedIn">
        <li class="sidebar__menu-item">Log Out</li>
      </a>
      <a href="#">
        <li class="sidebar__menu-item">Settings</li>
      </a>
    </ul>
  </div>    
  <div class="nine columns files">
  </div>
</div>