<div class="row full-height">
  <div class="three columns sidebar">
    <ul class="sidebar__menu">
      <li class="sidebar__menu-item sidebar__menu-item--offline" ng-if="!online">
        Offline
      </li>
      <li class="sidebar__menu-item sidebar__menu-item--online" ng-if="online">
        Files Available
      </li>
      <a ui-sref="settings" ng-if="loggedIn">
        <li class="sidebar__menu-item sidebar__menu-item--login">
          <img class="sidebar__menu-item--avatar" ng-src="http://www.gravatar.com/avatar/{{user.email | gravatar}}">
          <div class="sidebar__menu-item--username" ng-bind="user.email.substr(0, user.email.indexOf('@'))"></div>
        </li>
      </a>
      <a href="#" ng-click="logIn()" ng-if="!loggedIn">
        <li class="sidebar__menu-item">Log In</li>
      </a>
      <a href="#" ng-click="logOut()" ng-if="loggedIn">
        <li class="sidebar__menu-item">Log Out</li>
      </a>
    </ul>
  </div>    
  <div class="nine columns files">
    <div class="row">
      <div class="twelve columns">
        <form name="uploadForm" ng-if="loggedIn">
          <input type="file" id="fileInput" />
          <input type="button" ng-click="upload()" value="Upload" />
        </form>
      </div>
    </div>
    <div class="row">
      <a href="#" class="three columns" ng-repeat="file in files" ng-click="requestFile(file.hash)">
        <div class="file">
            <div class="file__name" ng-bind="file.path"></div>
            <div class="file__extension" ng-bind="file.type"></div>
            <div class="file__size" ng-bind="humanFileSize(file.size)"></div>
        </div>
      </a>
    </div>
  </div>
</div>