.file {
  padding: 1em;
  background-color: $light-highlight;
  color: $white;
  height: 8em;

  a {
    color: $white;
  }

  &:hover {
    background-color: darken($light-highlight, 5%); 
  }

  &__name {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 0.8em;
  }
}