$border-radius: 5px;

$light-main: #4f4f4f;
$dark-main: #3a3a3a;
$accent-color: #7E52B7;
$content-background: #e5e5e5;

$white: #f5f5f5;
$side-nav-bg: $light-main;
$header-bar-bg: $dark-main;
$body-highlight-bg: #f7f7f7;

$alert-color: #EC5840;
$success-color: #3ADB76;