@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import '_globals.scss';
@import '_functions.scss';
@import 'bem.scss';

body {
  background: transparent;
  font-family: 'Open Sans', sans-serif;
}

.material-icons {
  vertical-align: middle !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-trackbar {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    background: light-gradient($light-main, 2%);
}

.primary-gradient-button {
  background: light-gradient($accent-color, 15%);
  
  &:hover {
    background: light-gradient(darken($accent-color, 5%), 15%);
  }
}

.title-bar {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 10px;
  width: 100%;
  border-radius: $border-radius $border-radius 0 0;
  -webkit-app-region: drag;
}

.full-height {
  height: 100%;
}

.full-width {
  max-width: none;
}

.download-button-group {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 40px;
}